body {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    background-image: url(./pattern.png);
    background-color: rgb(33, 173, 232);
    height: 50%;
    background-size: 39%;
}

.logo {
    width: 15%;
    padding: 50px 0px 8px 5px;
}

.image-contener{
    align-items: center;
    display: flex;
}

.image{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 2px;
}