header {
    background-image: url(./pattern.png);
    background-color: rgb(33, 173, 232);
    height: 50%;
    background-size: 39%;
}

.logo {
    width: 15%;
    padding: 50px 0px 8px 5px;
}

.image-contener {
    align-items: center;
    display: flex;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 2px;
}


thead {
    background-color: rgb(11, 165, 232);
    color: white;
}

.body-1 {
    background-color: rgb(173, 249, 250);
}

.body-2 {
    background-color: rgb(173, 249, 250);
}

.lista {
    padding-inline: initial;
    list-style-position: inside;
}

.container {
    max-width: 1000px;
    margin: auto;
}

table {
    border-collapse: collapse;
    rule
}

.rule {
    width: 50%;
}

.testo-immagine {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
}

address{
    font-style: normal;

}

h1{
    font-size: 2.5em;
    margin-bottom: 0;
}

.titolo{
    margin-bottom: 1.50em;
}

a{
    text-decoration: none;
}

h4{
    color: gray;
    margin-bottom: 0;
}

.immagini-ineressanti{
    background-image: url(./monitor.jpg);
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.immagini-ineressanti-2{
    background-image: url(./monitor.jpg);
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    color: white;
    margin-top: 0;
    padding: 10px 0 0 10px
}

